body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	background-image: url("orange_fruit_slice_background.jpg");
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 10vh;
	background-color: lightgreen;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	opacity: 75%;
}

.tab {
	width: 10vw;
	height: 5vh;
	background-color: blue;
	margin: 0px 10px 0px 10px;
	border-radius: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.info {
	width: 50vw;
	height: 65vh;
	background-color: orange;
	border: 1px solid red;
	border-radius: 50px;
	opacity: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#text {
	position: relative;
	bottom: 30%;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100vw;
	height: 10vh;
	background-color: lightgreen;
	opacity: 50%;
}
