body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	background-image: url("orange_fruit_slice_background.jpg");
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 10vh;
	background-color: rgb(255, 212, 131);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.tab {
	width: 10vw;
	height: 5vh;
	background-color: orange;
	margin: 0px 10px 0px 10px;
	border-radius: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.info {
	width: 50vw;
	height: 65vh;
	background-color: orange;
	border: 20px solid rgb(255, 212, 131);
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 3%;
}

#text {
	position: relative;
	bottom: 5%;
}

img {
	width: 10vw;
	height: 10vw;
}

.title {
	position: relative;
	font-size: 5em;
	color: rgb(255, 212, 131);
}

.menu {
	position: relative;
	top: 147.5vh;
	height: 200vh;
	margin-bottom: 160vh;
}

.menu-container {
	width: 90%;
	height: 30vh;
	display: flex;
	flex-direction: column;
	justify-content: start;
	position: relative;
	border: 5px solid rgb(255, 212, 131);
	border-radius: 25px;
}

.menu-item {
	margin: 1%;
	position: relative;
	left: 2%;
	bottom: 3%;
}

.menu-name {
	position: relative;
	left: 7%;
	top: 2%;
}
.menu-cost {
	position: relative;
	left: 12%;
	top: 0.1%;
}

.menu-description {
	position: absolute;
	left: 35%;
	top: 17%;
	margin-right: 5%;
}

#phone {
	position: relative;
	bottom: 40%;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100vw;
	height: 10vh;
	background-color: rgb(255, 212, 131);
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
